<!DOCTYPE html>
<head>
<title>Image Metadata Management System</title>
 
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
</head>
 
    <body style="background-image: linear-gradient( #ffffe6,#b3daff);font:arial;">
        <!--style="position:fixed;float:center;margin:auto;background-color: #f1f1f1;padding: 20px;"-->
        
        <div  >
        <p style="font-size:40px;display:inline-block;left:10%;position:relative;"><b>Image Metadata Management System</b></p>
        </div>
        
        <div class="header">
        <a href="/admin" class ="logo"   >ADMIN</a>
        <a href="/login" class ="logo"  >LOGIN</a>
        </div>
                
                
        <br>
        <br>
        <br>
        <br>
            
            
        <div class="container" >
            <div style="display:inline-block;left:0%;position:relative;">
            </div>
            <div style="overflow:hidden;display:inline-block;left:5%;position:relative; margin:10px">
            </div>
        </div>
    
        
    
        <footer>
            <p ><marquee behavior="scroll" direction="right" scrollamount:"100">HOME PAGE</marquee>
            </p>
        </footer>
        
    </body>
</html>
