
<!DOCTYPE html>

<html>
    <head>
        <title text-align="center">Login</title>
       
              



       
              <meta charset="UTF-8">

 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
</head>

	<body style="background-image: linear-gradient( #ffffe6,#b3daff);font:arial">
		
	
        
        
       
            <div class="container">
                
                
                        <h1 ><center>USER LOGIN</center></h1>
                    
                    
                        <p><%= print %></p>

                 <form action="/user-data" method="post">
                    <div>
                        <input type="text" class="sub" style="display:block;" name="name" placeholder="Username" required>
                        
                        <input type="password" class="sub" style="display:block;" name="pass" placeholder="Password" required>
                       
                        
                        <br>
            
                        <input class="btn" type="submit" name="sub1" value="Submit">
		   </div>
                    </form>
                            
  		</div>
                            
                   
     <br>
	<br>
	<br>                   
                        
                   
                   
           
        
         
    </body>
</html>
